<h1>Social Media App</h1>

<%= link_to 'Users', index_path %> |
<%= link_to 'Top', top_path %> |
<%= link_to 'Trending', trending_path %> |
<%= link_to 'Create a New Post', new_post_path %> |
<%= link_to 'Profile', "/profiles/#{current_user.id}" %> |
<%= link_to 'Log Out', "users/sign_out", method: :delete %>