<h2>Profile Page</h2>

<hr />

E-mail: <%= @user.email %>

<hr />

<%= link_to 'Posts', "/profiles/#{@user.id}/posts" %> | 
<%= link_to 'Comments', "/profiles/#{@user.id}/comments" %> | 
<%= link_to 'Friends', "/profiles/#{@user.id}/friends" %>

<% if current_user == @user || current_user.added_friends.include?(@user) || @user.added_friends.include?(current_user) %>
    | <%= link_to 'Liked Posts', "/profiles/#{@user.id}/liked_posts" %>
    | <%= link_to 'Liked Comments', "/profiles/#{@user.id}/liked_comments" %>
<% end %>

<% if current_user == @user %>
    - <%= link_to 'Edit', edit_user_registration_path %>
<% elsif current_user.admin? %>
    - <%= link_to 'Delete', "/delete/user/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>


