<%= form_with(model: comment, local: true) do |form| %>
  <%= render 'shared/show_errors', model: comment %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :post_id, value: post.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
