<h1><%= @title %></h1>

<% @users.each do |user| %>
    <h3><%= user.email %></h3>
    <br />
    <% if user.posts.exists? %>
        <h4>Last Post</h4>
        <br />
        <%= link_to user.posts.last.title, post_path(user.posts.last) %>
        <br />
        <%= model_date(user.posts.last) %>
        <br />
    <% end %>
    <% if user.comments.exists?  %>
        <h4>Last Comment</h4>
        <br />
        <%= link_to user.comments.last.content, post_path(user.comments.last.post) %>
        <br />
        <%= model_date(user.comments.last) %>
        <br />
    <% end %>
    <% if user.liked_posts.exists? %>
        <% post = Post.find(user.liked_posts.last.post_id) %>
        <h4>Last Liked Post</h4>
        <br />
        <%= link_to post.title, post_path(post) %>
        <br />
        <%= model_date(user.liked_posts.last) %>
        <br />
    <% end %>
    <% if user.liked_comments.exists? %>
        <% comment = Comment.find(user.liked_comments.last.comment_id) %>
        <h4>Last Liked Comment</h4>
        <br />
        <%= link_to comment.content, post_path(comment.post) %>
        <br />
        <%= model_date(comment) %>
        <br />
    <% end %>
    <%= link_to 'View Profile', "/profiles/#{user.id}" %>
    <% if user.added_friends.exists? || user.added_by_friends.exists? %>
        <%= link_to 'Friends', "/profiles/#{user.id}/friends" %>
    <% end %>
    <% if current_user.admin? && current_user != user %>
        <%= link_to 'Delete', "/delete/user/#{user.id}", method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    <hr />
<% end %>